
**/build/

**/sdkconfig.old
example.txt

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.venv/
**/venv/

mio-firmware/managed_components/
mio-inference/managed_components/
mio-cam/managed_components/

.DS_Store
/working-backup( when any issue )

.vscode/
.idea/
.clangd


*.log


*.tmp
*.temp
*.swp
*.bak


*.bin
*.elf
*.map


CMakeCache.txt
CMakeFiles/
compile_commands.json